/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import url("//fonts.googleapis.com/icon?family=Material+Icons");

@include mat-core();

$primary: mat-palette($mat-purple, 500);
$accent: mat-palette($mat-purple, 500, A200, A400);
$warn: mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
  font-family: $mat-font-family;
  font-weight: normal;
  background-color: #e6e6e6;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

// universal
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}
